@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e9edc9;
  width: 100%;
}

.nav-links {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  float: left;
  border-right: 1px solid #bbb;
}

.nav-links a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #ccd5ae;
}

footer {
  background-color: #e9edc9;
  font-family: 'Playfair Display', serif;
  font-weight: bold;

  margin-top: auto;
}

footer p {
  text-align: center;
}

.active {
  background-color: #ccd5ae;
}

.logo {
  display: block;
  margin: 0 auto;
}

.quoteDiv {
  width: 600px;
  display: block;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: large;
}

.button a {
  color: #c98c4f;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: larger;
}

.button {
  background-color: #fefae0;
  border: solid 2px #c98c4f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 25px;
}

.button a:hover {
  text-decoration: underline;
}

.button a:visited {
  color: #c98c4f;
}

.button2 {
  background-color: #fefae0;
  border: solid 2px #c98c4f;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 25px;
  margin-top: 15px;
  color: #c98c4f;
  font-size: large;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

/*Picture Slideshow*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

/* Reservation */
.reserve-main {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

fieldset {
  width: 100%;
}

.labels {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}
.inputs {
  margin: 10px;
}
.options {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

/*Thank you Page*/

.check-mark {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.thank-h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

/*Temple Page*/

.temple_names {
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
}

.temple_description {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

#temple {
  display: grid;
}

.temple_sections {
  grid-row: 1;
  border: #c98c4f solid 2px;
  border-radius: 10px;
  margin: 15px;
  text-decoration: none;
  color: #68763d;
}

.temple_sections:hover {
  box-shadow: 0 0 5px 5px #faedcd;
  text-decoration: underline;
}

.temple_sections:visited {
  color: #68763d;
}

.moroni {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/*Sub-pages for Temple*/
.temple-main {
  display: block;
  margin: 0 auto;
}

.weather-ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.temple-pic {
  width: 650px;
  border-radius: 10px;
}

#summary_h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

#summary_h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.additionalInfo {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.sectionOne {
  float: left;
}

.sectionTwo {
  float: right;
}

.sectionThree {
  float: left;
}

.additionalHeading {
  font-family: 'Playfair Display', serif;
}

.additionalPar {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

/* Services Page */
.options {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.optionHeading {
  font-family: 'Playfair Display', serif;
}

.servicesPic {
  display: block;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 760px) {
  #temple {
    display: grid;
  }

  #dallas-card {
    grid-column: 1;
    grid-row: 1;
  }

  #oakland-card {
    grid-column: 2;
    grid-row: 1;
  }

  #rexburg-card {
    grid-column: 1;
    grid-row: 2;
  }

  #saltLake-card {
    grid-column: 2;
    grid-row: 2;
  }

  .quoteDiv {
    max-width: 350px;
  }
}

@media only screen and (max-width: 450px) {
  #temple {
    display: grid;
  }

  #dallas-card {
    grid-column: 1;
    grid-row: 1;
  }

  #oakland-card {
    grid-column: 1;
    grid-row: 2;
  }

  #rexburg-card {
    grid-column: 1;
    grid-row: 3;
  }

  #saltLake-card {
    grid-column: 1;
    grid-row: 4;
  }

  .slide-container {
    max-width: 350px;
  }

  .quoteDiv {
    max-width: 350px;
  }

  footer {
    max-width: 450px;
  }

  .temple-main,
  .servicesPic {
    max-width: 300px;
  }

  .temple-main {
    max-width: 300px;
    padding: 10px;
  }

  .map {
    max-width: 350px;
    padding: 10px;
  }
}
